<div id="modal-root" {{object "root"}} onclick="{{ctx "close(event)"}}">
    <div id="modal-box" {{object "modal"}}>
        <button class="close" onclick="{{ctx 'close()'}}">×</button>
        <div id="modal-content" {{object "container"}}></div>
    </div>
</div>