<div class="calendar-app">
    <div class="calendar-header">
        <button onclick="{{ctx "previous_week()"}}"><</button>
        <p>{{title}} : {{month}} {{year}} - Semaine {{week_number}}</p>
        <button onclick="{{ctx "next_week()"}}">></button>

        <button>Jour</button>
        <button>Config</button>
    </div>
    <div class="calendar-columns" {{object "columns"}}>
        <div class="calendar-column-header" {{object "column_header"}}><h1>h</h1></div>
    </div>
    <div class="calendar-modal-container" {{object "modal_container"}}></div>
</div>