<div class="calendar-header">
    <p {{object "title"}}>{{title}}</p>
    <button onclick="{{ctx "previous_week()"}}"><</button>
    <button onclick="{{ctx "today()"}}">today</button>
    <button onclick="{{ctx "next_week()"}}">></button>
    <button onclick="{{ctx "import()"}}">Importer ICS</button>
    <button>Config</button>
</div>
<div class="calendar-body-root" {{object "body"}}></div>
<div class="calendar-modal-container" {{object "modal_container"}}></div>