<div class="calendar-create-event">

    <form onsubmit="{{ctx 'submit(event)'}}">
        <button onclick="{{ctx 'close()'}}">X</button>
        <h2>Ajouter un évenement</h2>
        <p>{{when}}</p>
        <input type="text" name="name" placeholder="Nom de l'évenement" {{object "name"}} required>


        <span>Indisponible</span>
        <input type="range" min="-10" max="10" value="-10" id="availability" {{object "availability"}}>
        <span>Disponible</span>

        <input type="submit" value="Ajouter">
    </form>


</div>