<div class="calendar-dp-header">
    <button onclick="{{ctx "prev_month()"}}"><</button>
    <select {{object "months"}}></select>
    <select {{object "years"}}></select>
    <button onclick="{{ctx "next_month()"}}">></button>
</div>
<div class="calendar-dp-titles" {{object "titles"}}>

</div>
<div class="calendar-dp-table" {{object "table"}}>

</div>