<form onsubmit="{{ctx 'create(event)'}}" class="calendar-modal new_calendar">
    <calendar-modal-close></calendar-modal-close>
    <h1>Nouveau calendrier</h1>
    <span>
        <label for='title'>Nom</label>
        <input {{object "title"}} type="text" name="title" placeholder="Titre" id="title" required>
    </span>
    <div class="dates">
        <span>
            <label for='start'>Début</label>
            <calendar-date-time-input no_time {{object "start"}} id="start" required></calendar-date-time-input>
        </span>
        <p>></p>
        <span>
            <label for='end'>Fin</label>
            <calendar-date-time-input no_time {{object "end"}} id="end" required></calendar-date-time-input>
        </span>
    </div>
    <div class="dates">
        <span>
            <label for='start_daily_hour'>Début de journée</label>
            <calendar-date-time-input no_date {{object "start_daily_hour"}} value="06:00"
                                      id="start_daily_hour"></calendar-date-time-input>
        </span>
        <p>></p>
        <span>
            <label for='end_daily_hour'>Fin de journée</label>
            <calendar-date-time-input no_date {{object "end_daily_hour"}} value="20:00"
                                      id="end_daily_hour"></calendar-date-time-input>
        </span>
    </div>
    <span>
        <label for='time_precision'>Découpage horaire</label>
        <calendar-date-time-input no_date {{object "time_precision"}} value="00:30"
                                  id="end_daily_hour"></calendar-date-time-input>
    </span>
    <span>
        <label for='require_account'>Forcer l'utilisation d'un compte</label>
        <calendar-check-slider {{object "require_account"}} id="require_account"></calendar-check-slider>
    </span>
    <span>
        <label for='require_account'>Présence par défaut</label>
        <calendar-presence-slider {{object "default_presence"}}></calendar-presence-slider>
    </span>

    <input type="submit" value="Créer le calendrier">
</form>