<form onsubmit="{{ctx 'login(event)'}}" class="calendar-modal login-modal">
    <h1>Connexion</h1>
    <label for='display_name'>
        <input {{object "login"}} type="text" name="display_name" placeholder="Nom d'utilisateur / email" id="username"
                                  required>
    </label>
    <label for='password'>
        <input {{object "password"}} type="password" name="password" placeholder="Mot de passe" id="password" required>
    </label>

    <input type="submit" value="Se connecter">
    <a id="forgot-password" href="javascript:{{ctx 'reset_password()'}}">mot de passe oublié</a>
    <div class='footer'>
        <p>Pas encore de compte ?</p> <a href="javascript:{{ctx 'signup()'}};">Créer un compte</a>
    </div>
</form>