<details {{#if open}}open{{/if}}>
    <summary>{{title}}</summary>
    <label>
        <p>Titre (optionnel)</p>
        <input type="text" {{object "name"}}>
    </label>

    <label>
        <p>Début</p>
        <input {{object "start"}} type="datetime-local" name="start" value="{{start}}" required>
    </label>

    <label>
        <p>Fin</p>
        <input {{object "end"}} type="datetime-local" name="end" value="{{end}}" required>
    </label>
</details>