<details {{#if open}}open{{/if}}>
    <summary>{{title}}</summary>
    <span>
        <label>
            <calendar-date-time-input {{object "start"}} value="{{start}}"
                                                         onchange="{{ctx "set_start(event)"}}"></calendar-date-time-input>
        </label>
        <p>></p>
        <label>
            <calendar-date-time-input {{object "end"}} value="{{end}}"
                                                       onchange="{{ctx "set_end(event)"}}"></calendar-date-time-input>
        </label>
    </span>
    <label>
        <p>Titre (optionnel)</p>
        <input type="text" {{object "name"}} onchange="{{ctx "set_title(event)"}}">
    </label>
</details>